AUTH_PRIVATE_KEY=LS0tLS1CRUdJTiBFQyBQQVJBTUVURVJTLS0tLS0KQmdVcmdRUUFJdz09Ci0tLS0tRU5EIEVDIFBBUkFNRVRFUlMtLS0tLQotLS0tLUJFR0lOIEVDIFBSSVZBVEUgS0VZLS0tLS0KTUlIY0FnRUJCRUlCbk5OWW5DS0E0TmxZL1pnSWxXVHdwZDNZKzBFcEwrcmxqMUtpdjdYSk40a0ZyUm5IS1g0KwpuT0IrR282d3RndEZHMlZuR1VHSnNJc09CaFAxVHo5cWxPMmdCd1lGSzRFRUFDT2hnWWtEZ1lZQUJBQlZ2UkZxCmUwbDRQTnhQUEMvd01oWCtkWVlBM21CWklFL1JWUlVqWWFjSXRPUWdxbXlUMXpTZmJRZ0t5QzlGZjJGZUJDTWEKZVd2UE03U01hM3l3MG9JRjl3Q1ZLTUVtTkQ3dXlVWjhDc2tMSVA2emh1ZXZPdUdrVGorbXlWNVVqVWNONXJYdwpveHI5YTNSMHQ1eWdZQXZpb01RaGRpbzYwUndtYy9ES1NITzNEWW5NYlE9PQotLS0tLUVORCBFQyBQUklWQVRFIEtFWS0tLS0tCg==

REDIS_URL=redis://localhost
DATABASE_URL=postgres://fqauth:FQAuthServer@localhost/fqauth_dev
DB_SYMMETRIC_KEY=rTM2Om6VFd7GWbuhcTPzLmxsNZAxwvkIiAihzkvyCgM=

APPLE_SERVICES_KEY=LS0tLS1CRUdJTiBFQyBQQVJBTUVURVJTLS0tLS0KQmdVcmdRUUFJdz09Ci0tLS0tRU5EIEVDIFBBUkFNRVRFUlMtLS0tLQotLS0tLUJFR0lOIEVDIFBSSVZBVEUgS0VZLS0tLS0KTUlIY0FnRUJCRUlCdXRBYnNFUjY1bVFnby9iKzJYcTVsaDZQTDhuRTJSRjZ0WjFDdWNmdW5UaWtyNDFwL3JhZwpYaXd6MTJVOWxoY211Y2wrWDh5MkVacUowQ0FXS0VhTHluYWdCd1lGSzRFRUFDT2hnWWtEZ1lZQUJBQm92SWc2CkNRREdkcjMxNlR6bEJXRG56SHIvWDVoSnVzbnpSY0E2WUpUS1RVMll2bXdCaHVGUFBiNit1MUttaUdkTnQ2N1EKTU16RjMxYjY0L0gwS3prQ1BnRVZicklMVkthNDlUbTdNQU1WT3dsUUxaVHBIck8xMVk2bVd5eERydEFCSXNDTApqNnBRMFhGNlZiNWNOT3RWL1BpMC9lcTIxY3UwV3h5aDNHODY2TlQ0T1E9PQotLS0tLUVORCBFQyBQUklWQVRFIEtFWS0tLS0tCg==
APPLE_SERVICES_KEY_ID=com.fullqueuedeveloper.FQAuthServer.AppleServicesKeyID
APPLE_TEAM_ID=FQDV1234
APPLE_APP_ID=com.fullqueuedeveloper.FQAuth

